# ============================================================================
# Survey Sensei - Code Owners
# ============================================================================

# Default owners for everything in the repo
*       @arnavvj @shvbsle
